@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');


body {
    background-color: #eee;
    font-family: "Source Sans Pro";
}

main h5 {
    color: #dd3232;
    font-weight: bolder;
    font-family: Abril Fatface;
}
main h2 {
    font-size: 28px;
    font-weight: 600;
    font-family: Roboto Slab;
}

.newspaper-container {
    width: 700px;
    border-radius: 1em;
    box-shadow: 2px 2px #ddd;
    padding: 1em;
    align-content: center;
    background-color: white;
    margin: auto;
}
header h1 {
    text-align: center;
    font-family: Abril Fatface;
    font-size:42px;
}
nav li {
    list-style-type: none;
    margin: 0;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
}
nav ul {
    padding-inline-start: 0px;
    margin: 0;
    padding: 8px;
}
nav a {
    color: #777;
    text-decoration: none;
}
nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
    position: sticky;
    top: 0px;
    background-color:white;
}
.front-article {
margin: auto;
width: 700px;
}
.front-article img{
    width: 700px;
}
.front-article p {
    width: 675px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
section {
    width: 340px;
    display: inline-block;
    margin: auto;
    border-top: 2px solid #eee;
    
}
.more-articles {
    display: inline-block;
    
}
p {
    text-align: justify;
}
.more-articles img {
    padding-left: 20px;
}
.more-articles p {
    width: 280px;
    padding-left: 30px;
}
.more-articles h4 {
    padding-left: 20px;
    font-weight: 900;
    font-family: Roboto Slab;
}
title {
    font-family: Roboto Slab;
}